.row{   

    background-color:black;
    color:white;
    font-size:20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:black;
    color:black;
    align-items:center;
    font-size:30px;
    margin-top:5px;
    margin-bottom:5px;
    
}
.aboutme{
    border:1px solid black;
    margin-bottom:5px;
    
}
.gameP{
    width: 100%;
}
body{
font-family: "Knewave";
}

.headshot{
    width:300px;
}
h1{
    color: white;
}
#AM{
    display:flex;
    justify-content: center;
}
